body{
    background-color: gray;
    
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

body h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body article h1{
    font-family: "Georgia", "Times New Roman";
    line-height: 1.2;
    text-align: center;

}

body > article p{
    text-align: center;
    font-size: larger;

}

body > header a{
    background-color: red;
    color: white;
    line-height: 200%;
    font-weight: bolder;
}

body > header a:hover {
    background-color: black;
    color: yellow;
}

body header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

main {
    display: flex;
    gap: 30px;
}

main article {
    flex: 1;
}

main h2{
    color: white;
}

section h2{
    display: inline-block;
    background-color: yellow;
}

.table-container {
    overflow-x: auto;
}

body section table{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

body section th,
body section td {
    min-width: 170px;
    padding: 2px;
    text-align: center;
}

body footer hr{
    border: 1px solid black;
}

body footer section a:hover {
    background-color: black;
    color: yellow;
}

body footer img {
    border-radius: 100%;
    width: 200px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    body header nav ul {
        gap: 10px;
        padding: 10px;
    }
}